#nomargin {
  margin-right: 0px;
}

#brandlogo {
  margin-right: 30px;
}
.heading:nth-of-type(1) {
  padding-top: 100px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #000000a0;
}

.wrapper:hover .overlay {
  opacity: 1;
  visibility: visible;
}
.wrapper:hover .text {
  visibility: visible;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  visibility: hidden;
}

@media screen and (max-width: 425px) {
  a.limit {
    display: none;
  }
}

section.portfolio-block.block-intro.border-bottom {
  margin-top: 60px;
  padding-top: 60px;
}

.portfolio-block.block-intro .about-me {
  max-width: 900px;
}

.portfolio-block.block-intro p {
  font-size: 1.6em;
  font-weight: 400;
  margin-bottom: 30px;
}

.portfolio-block.block-intro p.about {
  font-size: 1.3em;
  font-weight: 300;
  margin-bottom: 30px;
}

strong {
  background: linear-gradient(
    to right,
    #7f70f5 20%,
    #0ea0ff 40%,
    #0ea0ff 60%,
    #7f70f5 80%
  );
  background-size: 200% auto;

  color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline;

  animation: shine 5s linear infinite;
  margin: auto;
  padding: auto;
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}
