p {
  padding-top: 8px;
}

.portfolio-block.projects-cards a.link-text {
  color: #6497b1;
}

.col-md-6.col-lg-4 {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

div.graphicdesign {
  float: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

a.btn.btn-outline-primary.btn-sm {
  color: #0ea0ff;
}
a.btn.btn-outline-primary.btn-sm:hover {
  color: white;
}

a.btn.btn-outline-warning.btn-sm {
  color: #f0ad4e;
}
a.btn.btn-outline-warning.btn-sm:hover {
  color: white;
  background-color: f0ad4e;
}

.nobull {
  list-style-type: none;
}

.list {
  padding: 0;
  margin: 0;
}
.portfolio-block.projects-cards .list a {
  color: #f0ad4e;
}

h6:nth-of-type(3n + 1) {
  margin-top: 20px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #000000a0;
}

.wrapper:hover .overlay {
  opacity: 1;
  visibility: visible;
}
.wrapper:hover .text {
  visibility: visible;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  visibility: hidden;
}
